@import url(./pokemon-font/Pokemon\ Hollow.ttf);

@font-face{
font-family: 'myfonts';
src: url(./pokemon-font/Pokemon-Hollow.ttf)
}

%images-size {
  height: 200px;
  width: 200px;
}

%myfont-size {
  font-size: 1.4em;
} 

body{
  background-color: rgb(117, 16, 11);
  margin: 0;
  font-family: 'myfonts', Fallback, sans-serif;
}
.hero{
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../images/background6.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1{
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: black;
  font-weight: bold;
}

.hero h3{
  @extend %myfont-size;
  color: black;
}

.bg-color{
  background-color: rgb(41,41,41);
}

.bkgr-img{
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../images/background4.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bkgr-img2{
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../images/background5.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-font{
  @extend %myfont-size;
}

h1{
  font-family: 'myfonts';
}

#heroimg{
  width: 100%;
}
// .container{
//   height: 500px;
// }

#poke-cards, #girl{
  @extend %images-size;
}

.card-panel{
  background-color: rgb(230, 174, 75);
}

.pimg{
@extend %images-size;
}

.trimg{
  height: 300px;

}

.space{
  margin: 50px;
}

#founder{
  height: 350px;
  width: 230px;
  position: center;
}
