@import url(./pokemon-font/Pokemon\ Hollow.ttf);

@font-face {
  font-family: 'myfonts';
  src: url(../pokemon-font/Pokemon-Solid.ttf)
}

%myimages-size {
  height: 200px;
  width: 200px;
}

%myfont-size {
  font-size: 1.4em;
}

%myblue-text {
  color: rgb(7, 40, 81);
}

%mypink-text {
  color: rgb(245, 198, 245);
}

%mylight-background {
  background-color: rgb(245, 198, 245);
}

%mybackground-color {
  background-color: rgb(7, 40, 81);
}

.img-backgr {
  @extend %mybackground-color;
}

body {
  @extend %mybackground-color;
  margin: 0;
  font-family: 'Wendy One', sans-serif;
}

.hero {
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../images/background6.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0.5em;
  @extend %myblue-text;
  font-weight: bold;
}

.hero h3,
#firstpagetext,
  {
  @extend %myfont-size;
  font-family: 'myfonts';
  @extend %myblue-text;
}

h1 {
  @extend %myblue-text;
  font-family: 'myfonts';
}

.bkgr-img {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../images/background4.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bkgr-img2 {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../images/background5.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-font {
  font-size: 1.4em;
  @extend %mypink-text;
}

h1 {
  font-family: 'myfonts';
}

#heroimg {
  width: 100%;
}

#slogan {
  @extend %mypink-text;
}

#poke-cards {
  @extend %myimages-size;
}

#girl {
  height: 70vh;
  width: 30vw;
  @extend %mybackground-color;
}

.trimg {
  height: 300px;
}

.space {
  @extend %mybackground-color;
}

.section-history {
  max-height: 650px;
}

#founder {
  height: 350px;
  width: 230px;
}

footer {
  font-family: 'Roboto', sans-serif;
}

#icon {
  @extend %mybackground-color;
}

#p2,
#footer {
  @extend %mybackground-color;
}

#p2,
#cards {
  margin: 10px !important;
  padding: 10px !important;
}

#footer2,
.img_color {
  @extend %mybackground-color;
  color: white;
}

.active {
  @extend %mybackground-color;
  color: white;
}

#p251 a {
  color: white;
}

.poke_btn:focus {
  color: white;
}

#cards,
#card_img,
.panel_cards {
  @extend %mylight-background;
}

.card-panel .slider {
  height: 400px !important;
}

#more_btn {
  @extend %mybackground-color;
  display: block;
  width: 100%;
}