body{
  background-color: rgb(117, 16, 11);
}

.container{
  height: 550px;
}

.parallax-container {
  width: 100%;
  height: 800px;
}

.card-panel{
  background-color: #f06292;
}
#girl{
  height: 300px;
  width: 200px;
}

.space{
  margin: 50px;
}